body {
  text-align:center
}
.main_title {
  background-color: #2075fc;
  text-align: left;
  padding-left: 45px;
}

.main_title h1 {
  color:white;
}

#avatars {
 border-right: 1px solid gray ;
}

.selected {
  background-color: gray;

}
